<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitcoinTicker"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BitcoinTicker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_SHOW_TOAST" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_PRICE_UPDATED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_MARKET_CHARTS_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".AppWidgetConfigureActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bitanon.bitcointicker.MainActivity" />
        </activity>

<!--        <receiver android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_SHOW_TOAST" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_PRICE_UPDATED" />
            </intent-filter>
        </receiver>-->

        <receiver
            android:name=".AppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_PRICE_UPDATED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.bitanon.bitcointicker.BROADCAST_WIDGET_UPDATE_BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

    </application>

</manifest>